.cupcake {
	outline: 1px solid black;
	width: 25rem;
	margin-right: 1rem;
	text-align: center;
	background-color: lightblue;
	text-decoration: none;
	color: black;
}

.cupcake:last-child {
	margin-right: 0;
}

.cupcake-list {
	display: flex;
	flex-direction: row;
}

.vote {
	border: 1px solid darkblue;
	margin-right: 0.1rem;
	padding: 0.1rem;
	color: darkblue;
	border-radius: 5px;
}

.vote:last-child {
	margin-right: 0;
}

.votes > h5 {
	margin-bottom: 0.5rem;
}
